<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Syllabus for MU</title>
    <link rel="stylesheet" href="/static/subj.css" />
  </head>

  <body>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講年度
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2023年度</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        最終更新日時
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">2023/03/24(金)</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目名
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">学習・言語心理学</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目区分
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">心理学科科目</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        授業形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">講義</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        単位数
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2単位</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        配当学年
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2年</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講学期
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">後期</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        時間割コード
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">F11200</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        担当教員
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">丹野　貴行</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業時間外の連絡方法
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　明星LMS個別指導コレクション
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　研究室オフィスアワー
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　メールアドレス
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　その他
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        授業実施形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 20%; text-align: left"
      ></div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 50%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        キーワード
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          学習心理学<br />行動分析学<br />言語心理学<br />公認心理師法定科目
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業科目の概要
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          本授業は、公認心理師法定科目である。心理学の一分野である「学習心理学」と「言語心理学」について、その基礎的な内容を学ぶ。なお「学習心理学」の部分は、「行動分析学」の視点に重きを置いた構成となっている。<br />毎回の授業は、（1）前回までの流れを復習、（2）当日の新たな内容の学習、（3）当日の内容に基づいた小テスト、の３つで構成されている。<br />また、最終授業の「振り返り」では、学習・言語心理学で扱った内容全体についての振り返りテストを実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        本授業の到達目標
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          1. 人の行動が変化する過程を学ぶ（知識・理解・表現）<br />2.
          言語の習得における機序を学ぶ（知識・理解・表現）<br />3.
          そうした知識に基づき日常行動を分析できるようになる（思考・判断）
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 22%; text-align: left"
      >
        学位授与方針との関係　カリキュラムマップ
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          <a
            href="https://www.meisei-u.ac.jp/student/class02/c-map.html"
            target="_blank"
            >https://www.meisei-u.ac.jp/student/class02/c-map.html</a
          >
        </div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        ナンバリング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 17%; text-align: left"
      >
        <div class="fr-box fr-view">F1F206</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 52%; text-align: left"
      >
        授業計画
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        事前事後学修内容
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        1
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">オリエンテーション・学習と言語の心理学</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        2
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">行動の測定と実験デザイン</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        3
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          レスポンデント反応とその条件づけ１：基本原理
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        4
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          レスポンデント反応とその条件づけ2：理論と研究
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        5
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          オペラント反応とその条件づけ１：随伴性の見方
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        6
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          オペラント反応とその条件づけ２：反応形成とスケジュール性制御
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        7
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          オペラント反応とその条件づけ３：三項随伴性と刺激性制御
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        8
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          オペラント反応とその条件づけ４：強化子と動機づけ操作
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        9
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          オペラント反応とその条件づけ５：弱化子による行動制御とその問題
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        10
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">応用行動分析を知る１：事例を通して</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        11
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          応用行動分析を知る２：ゲストスピーカーによる講演
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        12
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          応用行動分析を知る３：ゲストスピーカーによる講演
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        13
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">言語の習得における機序１</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        14
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">言語の習得における機序２</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：LMSにアップロードされた次回授業の資料を予習しておく。<br />事後学習：資料を参照しつつ授業内容を振り返り、LMS上の小テストに回答する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        15
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">総括と振り返りレポート</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学習：振り返りレポートに向けた学習を行う。<br />事後学習：振り返りレポートの解答を確認しつ、これまでの学習成果を振り返る。<br />
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        学期末試験
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 88%; text-align: left"
      >
        <div class="fr-box fr-view">実施しない</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        アクティブ・ラーニング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">
          毎回の授業終了後に実施される小テストやコメントシートへの記入　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        実務教員科目
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        成績評価基準
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          本授業の到達目標1・2・3に関係させる形で構成された小テスト及び振り返りレポートに適切に回答できるか否かを問う。<br /><br />なお、テスト・レポ―トにおいて、Webで検索した内容の「盗用」や、数人間での回答内容お重複が発覚した場合には、それらを不正行為と見なし、関連学則、関連規定、および心理学部の方針に従って処分する。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        評価の方法・総合評価割合
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          毎回の授業終了時に行う小テスト（30％）と最終授業時に提出する振り返りレポート（70％）から総合的に評価する。<br />90点以上をS、80点以上90点未満をA、70点以上80点未満をB、60点以上70点未満をCとする。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        テキスト等、学修のために購入・準備が必要なもの
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">なし</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        履修上の注意事項、事前・事後学修に必要な目安時間、フィードバックの方法、学修上の助言
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          【履修上の注意事項（１）】<br />本科目の運営および成績評価に関するすべての指示は、(1)
          LMSのコースニュースへの掲示、(2)
          LMSの個別指導コレクションへの記載、(3)
          LMSのコースコンテンツへの掲載、(4)
          学生用Gmailへのメール送信、のいずれかにより伝達する。履修者は以上すべての伝達経路を"常に"確認せねばならない。これらの見落としによるあらゆる不利益は、履修者個人の責任に帰属する。<br /><br />【履修上の注意事項（２）】<br />授業出席時は、教室入室時に、入り口の出席システムに学生証を必ずかざすこと。この出席システム上の登録と、毎回の授業で課される小テストへの回答の両者を満たすことで、本授業への出席とみなす。<br /><br />【事前・事後学修に必要な目安時間】<br />講義科目（2単位科目）であるため、毎授業回につき、概ね240分を目安とする。<br /><br />【フィードバックの方法】<br />毎回の授業で実施される小テストの解答は、次回授業時の資料に含まれている。<br />小テストの点数を個別にフィードバックすることはしない。<br />また、個別指導コレクションを通じて受け付けた授業内容についての質問に対しては、個別にフィードバックを行う。<br /><br />【学修上の助言】<br />授業内容及びテストで出題される問題は、すべて、本授業の到達目標を達成するためにある。<br />この点を十分に理解したうえで受講されたい。　
        </div>
      </div>
    </div>
  </body>
</html>
