<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Syllabus for MU</title>
    <link rel="stylesheet" href="/static/subj.css" />
  </head>

  <body>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講年度
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2023年度</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        最終更新日時
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">2023/08/18(金)</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目名
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">経営戦略論</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目区分
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">経営学科科目</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        授業形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">講義</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        単位数
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2単位</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        配当学年
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">1年</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講学期
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">後期</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        時間割コード
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">B21100</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        担当教員
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">安岡　寛道、広瀬　安彦</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業時間外の連絡方法
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　明星LMS個別指導コレクション
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　研究室オフィスアワー
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　メールアドレス
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　その他
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        授業実施形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 20%; text-align: left"
      ></div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 50%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        キーワード
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          経営戦略<br />外部環境・内部環境<br />顧客適合・ビジネスモデル<br />市場・業界・競合（競争）分析<br />経営資源
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業科目の概要
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          経営戦略の基本的な事柄（戦略の変遷、環境分析、各種戦略など）を、企業や事業の事例をを交えてレクチャーする。<br />経営戦略における企業戦略や事業戦略の理解を深めるため、随時新聞・雑誌（インターネット上の記事含む）等の資料を参照（授業内の資料に掲載）するほか、それらに応じた課題の検討なども行う。<br />なお、学生の理解度に応じて授業内容を変更する可能性がある。<br />また、講師は実務経験を有しており、実践的な視点からの内容も少なくない。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        本授業の到達目標
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          経営戦略論の観点から、企業経営のあり方を学ぶ。経営戦略は、企業を維持・発展させる上で極めて重要な役割を果たすため、その基本的な論理について理解することは、今日の複雑な企業行動を読み解く上で非常に有益である。従って、以下を目標とする。<br />1.
          正しい経営活動における知識と技術を理解し、実践及び表現することができる(DP6)。<br />2.
          経営学の知識を生かしながらも、硬直的な理論にとらわれず柔軟な行動をとることができる(DP1)。<br />3.
          上記の身に着けた知識を生かし、（近い将来）企業活動に役立てることができる(DP9)。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 22%; text-align: left"
      >
        学位授与方針との関係　カリキュラムマップ
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          <a
            href="https://www.meisei-u.ac.jp/student/class02/c-map.html"
            target="_blank"
            >https://www.meisei-u.ac.jp/student/class02/c-map.html</a
          >
        </div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        ナンバリング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 17%; text-align: left"
      >
        <div class="fr-box fr-view">1401</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 52%; text-align: left"
      >
        授業計画
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        事前事後学修内容
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        1
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">イントロダクション、経営戦略とは何か</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：経営戦略について復習してから臨むこと<br />事後学修：最初の演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        2
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">経営戦略論の変遷（概要）</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：変遷に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        3
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">内部環境と外部環境の分析</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：3C分析に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        4
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">SWOT分析</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：SWOT分析に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        5
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">顧客適合の戦略　①理論編</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：ある戦略に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        6
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">顧客適合の戦略　②事例分析編</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：前回と異なるある戦略に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        7
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          市場の構造分析　①マクロ分析（業界分析）編
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：業界に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        8
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">中間まとめ</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：自分で考えた演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        9
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          市場の構造分析　②ミクロ分析（競合分析）編
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：分析に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        10
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">多角化の論理</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：多角化に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        11
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">企業ドメイン</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：ドメインに関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        12
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">PPM　①理論編</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：PPM（全般）に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        13
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">PPM　②事例分析編</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：PPM（負け犬など）に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        14
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">経営資源と戦略</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：経営資源に関する演習課題をレポートにまとめること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        15
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          まとめと振り返り<br />（授業内で試験実施）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：前回の授業を振り返っておくこと<br />事後学修：授業の最終課題に対応すること
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        学期末試験
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 88%; text-align: left"
      >
        <div class="fr-box fr-view">実施しない</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        アクティブ・ラーニング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">
          授業内での簡単なワークショップ、授業最後の課題と質問、その質問に対するフィードバックを反復的に行う
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        実務教員科目
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">
          大手シンクタンク系の経営コンサルタントの経験をもとに、経営戦略のフレームワーク・手法などを概説し、事例を紹介する
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        成績評価基準
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          学生の到達目標１、２、３に対応して、経営戦略に関して論理的に考察できているか、自分なりの意見としてまとめられているかを評価基準とする。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        評価の方法・総合評価割合
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          以下の2点で評価を行う。<br />1.
          授業への貢献（授業への参加、課題の提出、質問など）：50%<br />2.
          レポート課題（課題の内容、中間/最終の試験またはレポート）：50%<br />上記では、授業で学んだ基礎的な知識を確認する問題と、学んだ知識を応用する能力を確認する問題により、履修学生の理解度を測る。<br />但し、履修学生の理解度によっては、貢献と課題の得点配分を変更する場合がある。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        テキスト等、学修のために購入・準備が必要なもの
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          必要に応じて、関連する資料の紹介や投影、LMSへの掲載を行う。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        履修上の注意事項、事前・事後学修に必要な目安時間、フィードバックの方法、学修上の助言
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          ★本授業科目は、今年度は【2クラス編成】となる。クラス編成に関しては、履修状況を見て「8月下旬まで」に「LMSのコースニュース」で発表する。<br />教室間違いでの別クラス受講、別クラスのレポート提出など、いずれの場合も単位の取得はできないため、十分注意すること。<br />（なお、3年前までは2クラス同時開講科目であったが、2年連続で全体1クラスで開講していた。）<br /><br />【事前・事後学修（予習・復習）に必要な目安時間】<br />●毎授業回につき240分程度を目安として、授業の振り返りと次の学習範囲の予習をおこなうこと。<br />[予習]
          授業で提示する課題等に関して相応の準備を行っておくこと（約2時間を想定）<br />[復習]
          授業内容について不明な事項等を自ら調べ学習しておくこと（約2時間を想定）<br /><br />【フィードバックの方法】<br />●LMSのレポート課題に付随する任意の記入欄に記載した質問などに関しては、その次の授業回などにて口頭でフィードバックを行う。<br />●LMSの個別指導コレクションやメールの方法での相談などに関しては、同じ方法でフィードバックを行う。<br />●その他、授業の前後での対面での質問・相談などに関しては、その都度対面でフィードバックを行う。<br /><br />【学修上の助言】<br />●本科目で学ぶことを今後に活かすためにも、毎時間の予習・復習を欠かさないことはもちろん、不明な点はそのままにせず、個別指導コレクション、メールを活用するなどして積極的に質問すること。<br />●参考図書として、以下を用いる。<br />　嶋口充輝,内田和成,黒岩健一郎｢1からの戦略論(第2版)｣碩学舎,2016年3月（2640円）<br /><br />【その他】<br />・オフィスアワーを利用する場合は、事前にメールまたは口頭で予約すること。<br />（面談は、研究室での対面、またはZoomでも可。）<br />・新型コロナウィルス感染症が5類に引き下げられたとしても、教室内に沢山の人数がいると想定され、基礎疾患のある者も存在するため、当面マスクを着用とする。<br />（教員の指示なくマスクを外した場合は、退席してもらうこともある。）　　
        </div>
      </div>
    </div>
  </body>
</html>
