<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Syllabus for MU</title>
    <link rel="stylesheet" href="/static/subj.css" />
  </head>

  <body>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講年度
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2023年度</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        最終更新日時
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">2023/03/24(金)</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目名
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">廃棄物管理演習・実験</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目区分
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">環境システム学専攻科目</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        授業形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">演習</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        単位数
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2単位</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        配当学年
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">1年</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講学期
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">後期</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        時間割コード
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">MB020A</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        担当教員
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">宮脇　健太郎</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業時間外の連絡方法
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　明星LMS個別指導コレクション
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　研究室オフィスアワー
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　メールアドレス
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　その他
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        授業実施形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 20%; text-align: left"
      ></div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 50%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        キーワード
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          廃棄物管理<br />循環資源化<br />埋立設計<br />公定法（試験法）
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業科目の概要
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          廃棄物管理・循環資源化特論での専門知識修得と併せて，技術者・研究者として活躍する為の応用力を身につけることを目標とする。演習では，主に最終処分場設計に関する基礎事項（埋立容量，水処理施設能力など）の演習を実施する。また野外実習として，清掃工場（中間処理），最終処分場などの見学を実施する。また，実験としては，廃棄物分野で使用される公定法について実施する。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        本授業の到達目標
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          １．廃棄物管理全般の応用的知識を修得できる（学習目標MA：環境技術者に必要な高度の専門知識)。<br />２．具体的な処理等の計画，設計の基礎を理解できる（学習目標MA,MB：国内及びアジア諸国の現実の環境問題の理解)。<br />３．廃棄物に係わる試験法について，具体的方法まで理解し説明できる(学習目標MC：環境問題の解決に取り組める意欲と実行力)。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 22%; text-align: left"
      >
        学位授与方針との関係　カリキュラムマップ
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          <a
            href="https://www.meisei-u.ac.jp/student/class02/c-map.html"
            target="_blank"
            >https://www.meisei-u.ac.jp/student/class02/c-map.html</a
          >
        </div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        ナンバリング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 17%; text-align: left"
      >
        <div class="fr-box fr-view">433</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 52%; text-align: left"
      >
        授業計画
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        事前事後学修内容
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        1
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">ガイダンス　演習・実験の進め方</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：LMSに掲示する授業資料を確認する。<br />事後学修：授業資料再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        2
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">埋立設計演習（１）人口予測</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：単元の課題を授業までに実施する。<br />事後学修：課題内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        3
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">埋立設計演習（２）排出実態調査</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：単元の課題を授業までに実施する。<br />事後学修：課題内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        4
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">埋立設計演習（３）排出量，埋立量予測</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：単元の課題を授業までに実施する。<br />事後学修：課題内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        5
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">埋立設計演習（４）必要埋立容量算出</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：単元の課題を授業までに実施する。<br />事後学修：課題内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        6
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">埋立設計演習（５）処分場立地条件設定</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：単元の課題を授業までに実施する。<br />事後学修：課題内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        7
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">埋立設計演習（６）浸出水発生量予測</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：単元の課題を授業までに実施する。<br />事後学修：課題内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        8
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">埋立設計演習（７）浸出水処理能力設定</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：単元の課題を授業までに実施する。<br />事後学修：課題内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        9
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">野外実習（１）準備</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：実習内容を確認する。<br />事後学修：実習内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        10
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">野外実習（２）実施</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：実習内容を確認する。<br />事後学修：実習内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        11
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          廃棄物・リサイクルに関する試験法の実験（１）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：実習内容を確認する。<br />事後学修：実習内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        12
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          廃棄物・リサイクルに関する試験法の実験（２）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：実習内容を確認する。<br />事後学修：実習内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        13
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">自主調査（１）準備</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：実習内容を確認する。<br />事後学修：実習内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        14
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">自主調査（２）実施</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：実習内容を確認する。<br />事後学修：実習内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        15
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">総合演習・調査報告会</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：実習内容を確認する。<br />事後学修：実習内容の再確認を実施する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        学期末試験
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 88%; text-align: left"
      >
        <div class="fr-box fr-view">実施しない</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        アクティブ・ラーニング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">各時間、各項目の課題を実施する。</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        実務教員科目
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        成績評価基準
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          点数と評価の関係，欠席の評価上の扱いについては「履修の手引き（大学院便覧）」を参照すること。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        評価の方法・総合評価割合
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          演習（レポート含む）60%，自主調査・調査報告会40%を目安として100点とする。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        テキスト等、学修のために購入・準備が必要なもの
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">適宜，プリントなど配布する。</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        履修上の注意事項、事前・事後学修に必要な目安時間、フィードバックの方法、学修上の助言
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          【履修上の注意事項】<br />●廃棄物全般についての基礎を理解していること（例えば，学部科目「廃棄物処理」「有害廃棄物管理」などの内容）。<br />●演習・実験については，授業外での自己学習を必要とする。<br />●本科目は，主に資源・廃棄物研究室所属の大学院生対象である。<br />●野外実習・自主調査については，各学生がテーマ設定を実施する。各単元の回数については，演習等の進捗状況に合わせて変更される可能性がある。<br />●上記到達目標に記した学習目標は環境システム学専攻の「履修・研究便覧」を参照すること。<br /><br />【事前・事後学修に必要な目安時間】<br />●毎授業回につき240分程度を目安として、授業の振り返り（含む課題・レポート）と次の学習範囲の予習を行うこと。<br /><br />【フィードバックの方法】<br />各授業での質疑応答を実施する。また、総合演習（または総合レポート）については、明星LMSにてフィードバックを行う。<br /><br />【その他】<br />参考図書：環境安全な廃棄物埋立処分場の建設と管理/田中信壽編著(技報堂出版)ISBN978-4765516082<br />参考図書：最終処分場の計画と建設/樋口壮太郎著(日報)ISBN978-4890861026
        </div>
      </div>
    </div>
  </body>
</html>
