<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Syllabus for MU</title>
    <link rel="stylesheet" href="/static/subj.css" />
  </head>

  <body>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講年度
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2023年度</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        最終更新日時
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">2023/03/24(金)</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目名
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">教育学文献特殊研究2B（日本教育史）</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目区分
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">教育学専攻科目</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        授業形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">講義</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        単位数
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2単位</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        配当学年
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">1年</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講学期
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">後期</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        時間割コード
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">DK004A</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        担当教員
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">廣嶋　龍太郎</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業時間外の連絡方法
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　明星LMS個別指導コレクション
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　研究室オフィスアワー
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　メールアドレス
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　その他
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        授業実施形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 20%; text-align: left"
      ></div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 50%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        キーワード
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          日本教育史（近代）<br />史料講読<br />歴史学<br />明治・大正・昭和初期<br />教育制度史
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業科目の概要
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          本講義では日本教育史に関する文献の講読を行い、各自の教育史研究の意義を深化させ、日本教育史（近代）の研究方法を修得する。具体的には、前半で日本教育史の研究方法を検討するための代表的な資料を提示し、後半で受講生の研究テーマや興味関心を踏まえた史料を決定して文献講読を行う。なお、後半の教材には明治期から昭和初期の教育史料を用いることとする。なお、博士論文に使用する近代の史料がある場合は相談により内容を変更する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        本授業の到達目標
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          （１）歴史的資料を用いて、適切に資料を講読し、分析することができる。（知識・理解）<br />（２）教育史に関する学術的用語を用いて、自ら近代以降の教育史的課題について論じることができる（思考・判断）。<br />（３）近代以降の教育史的課題に対して自らの意見を持ち、歴史的事象を解析するように心がけ、自らの意見を述べようとする態度を持つことができる（態度）　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 22%; text-align: left"
      >
        学位授与方針との関係　カリキュラムマップ
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          <a
            href="https://www.meisei-u.ac.jp/student/class02/c-map.html"
            target="_blank"
            >https://www.meisei-u.ac.jp/student/class02/c-map.html</a
          >
        </div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        ナンバリング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 17%; text-align: left"
      >
        <div class="fr-box fr-view">-</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 52%; text-align: left"
      >
        授業計画
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        事前事後学修内容
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        1
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">オリエンテーション</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：シラバスを確認する<br />事後学修：今後の授業の見通しを持つ
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        2
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">教育の歴史を学ぶ意義</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：教育の歴史を学ぶ意義を考えてくる<br />事後学修：教育の歴史を学ぶ意義を深化させる
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        3
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          近代（明治から昭和初期）の時代背景と教育観
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：近代の時代背景について調べてくる<br />事後学修：近代の時代背景について考えを深める
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        4
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          近代の教育史料の特徴１（制度、法令など）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：近代の教育史について調べてくる<br />事後学修：近代の教育史について自分なりに考える
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        5
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          近代の代表的な教育史料１（学制、諸学校令など）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：明治期の教育制度について調べてくる<br />事後学修：明治期の教育制度について考察する
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        6
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          近代の教育史料の特徴２（雑誌、新聞記事など）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：近代の代表的なメディアを調べてくる<br />事後学修：記事や論説を踏まえて考察を深める
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        7
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          近代の代表的な教育史料２（大正自由教育運動など）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：大正、昭和初期の教育史を調べてくる<br />事後学修：大正、昭和初期の教育史の考えを深める
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        8
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">明治期から昭和初期の教育史料の選択</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：読みたい史料について調べてくる<br />事後学修：読みたい史料を決定する
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        9
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">文献講読１（大意を取る）</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：文献を事前に読んでくる<br />事後学修：文献の大意をまとめる
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        10
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">文献講読２（通史との比較）</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：通史を事前に調べてくる<br />事後学修：通史との比較を行う
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        11
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">文献講読３（制度・政策の検討）</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：制度・政策を調べてくる<br />事後学修：制度・政策との関連をまとめる
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        12
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">文献講読４（周辺史料を加えて考察する）</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：周辺史料について調べてくる<br />事後学修：周辺史料との関連について考えをまとめる
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        13
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">文献講読５（批判的に読む）</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：学問的批判の方法を調べてくる<br />事後学修：批判を踏まえた考え方をまとめる
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        14
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">文献講読６（討議の方法と実践）</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：討議したい内容について調べてくる<br />事後学修：討議を通じて考えをまとめる
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        15
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">まとめ</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：近代の教育史の特色をまとめる<br />事後学修：15回分の授業を振り返る
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        学期末試験
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 88%; text-align: left"
      >
        <div class="fr-box fr-view">実施しない</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        アクティブ・ラーニング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">
          授業内容に応じて、適宜グループワークやディスカッションを実施する。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        実務教員科目
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        成績評価基準
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          本授業の到達目標１～３を踏まえて、自身の視点で論究できているかどうかを総合的に評価する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        評価の方法・総合評価割合
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          定期試験は行わず、各回の発言や発表を評価する。<br />具体的には授業中の発言、討議などへの参加態度を20％、文献講読時の発表を80％とする。<br />最終的な成績評価は、90点以上でS、80点以上でA、70点以上でB、60点以上でCとする。<br />16週目は学期末試験を実施しない。発表等で成績評価を行う。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        テキスト等、学修のために購入・準備が必要なもの
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          資料は授業中に適宜紹介する。博士論文に関係する史料を講読する場合は、オリエンテーション時に相談すること。<br />参考図書については、下欄の「履修上の注意事項」等を参照のこと。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        履修上の注意事項、事前・事後学修に必要な目安時間、フィードバックの方法、学修上の助言
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前・事後学修に必要な目安時間】<br />●講義（2単位科目）の場合、毎授業回につき、概ね240分を目安とする。<br /><br />近代の文献の性質上、日本語だけでなく英語やドイツ語の翻訳や原典を参照する機会もあることを念頭に受講すること。<br />後半の文献講読は受講者の研究テーマや興味・関心を踏まえて文献を選択する。そのため、研究上の目的意識を明確にした上で参加すること。<br /><br />参考図書（購入必須ではないが、併用すると理解の深化が期待される本）は以下の通りである。<br />教育史研究の最前線Ⅱ/教育史学会編(日本図書センター)/2700円
        </div>
      </div>
    </div>
  </body>
</html>
