<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Syllabus for MU</title>
    <link rel="stylesheet" href="/static/subj.css" />
  </head>

  <body>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講年度
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2023年度</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        最終更新日時
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">2023/03/24(金)</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目名
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">経営基礎３</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目区分
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">経営学科科目</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        授業形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">講義</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        単位数
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2単位</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        配当学年
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2年</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講学期
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">前期</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        時間割コード
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">B11104</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        担当教員
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">中島　洋行、福島　隆、齋藤　香織</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業時間外の連絡方法
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　明星LMS個別指導コレクション
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　研究室オフィスアワー
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　メールアドレス
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　その他
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        授業実施形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 20%; text-align: left"
      ></div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 50%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        キーワード
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          金融や統計に関する基礎知識<br />金融リテラシー
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業科目の概要
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          　この授業では金融・会計プロフェッションコース担当教員（中島洋行、福島隆、齋藤香織）が授業を担当する回と、日本証券業協会のコーディネートにより、金融関連の各団体からゲストスピーカーをお招きし、講演を聞く回とに分かれている。このような背景から、上記の授業計画及び授業内容は都合により順番が前後する場合もある。また、金融リテラシーミニ連携講座については対面授業を予定しているが、都合により非対面授業になる可能性もありうる。<br />　「経営基礎3」では、これから金融・会計プロフェッションコースで学んでいくうえで必要となる金融と会計の基本的内容について学ぶ。前半は金融、会計、統計の基本的な知識及び考え方について、座学とコンピュータによる実習を織り交ぜながら学び、後半は金融リテラシーミニ連携講座等を通じて、実践的な学びを深めていく。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        本授業の到達目標
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          　「金融・会計プロフェッションコース」の経営基礎3・4の授業はそれぞれが密接に関連していて、経営基礎3では金融・会計分野での学びに必要な基礎知識の獲得と必要な分析技法の修得を目指し、経営基礎4では経営基礎3で得た知識や技法を実践に活かすことを目的として授業内容が構成されている。<br />　経営基礎3の前半では、金融分野の基礎学習として、「金融リテラシーミニ連携講座」を受講するために必要な最低限度の知識の獲得と技法の修得を目指す。後半では、金融関連の各団体のプロが講義を担当する「金融リテラシーミニ連携講座」を受講することで、金融に関するより幅広い知識の獲得を目指す（DP1,2,6,7,9）。また、座学講義だけではなく、適宜グループワークやコンピュータ実習を取り入れることで、履修者同士で協力して成果を出すチームワークの養成なども同時に目指す（DP5）。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 22%; text-align: left"
      >
        学位授与方針との関係　カリキュラムマップ
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          <a
            href="https://www.meisei-u.ac.jp/student/class02/c-map.html"
            target="_blank"
            >https://www.meisei-u.ac.jp/student/class02/c-map.html</a
          >
        </div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        ナンバリング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 17%; text-align: left"
      >
        <div class="fr-box fr-view">B1B2000</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 52%; text-align: left"
      >
        授業計画
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        事前事後学修内容
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        1
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【経営基礎3のガイダンス／研究倫理教育】〔対面〕<br />　授業の到達目標、スケジュール、受講上の留意点、成績評価方法等の説明などを行う。また、大学が作成した資料に基づいて、研究倫理教育について学ぶ。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　金融・会計プロフェッションコースの「経営基礎3」で特に何を学びたいかについて自身の考えを整理しておく。<br />【事後学修】<br />　授業内容を復習したうえで、LMSにアップされる提出課題に取り組む。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        2
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【基礎学習（1）―資金調達と銀行預金―】〔対面〕<br />　会社の資金調達の方法（直接金融と間接金融）と銀行預金の基本知識について学ぶ。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　企業が資金を調達する方法と、日本における銀行の普通預金の利息について調べておく。<br />【事後学修】<br />　授業内容を復習したうえで、LMSにアップされる提出課題に取り組む。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        3
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【基礎学習（2）―株式投資と債券投資の基礎―】〔対面〕<br />　株式投資や債券投資を行ううえで必要となる様々な前提知識を学び、さらに資産運用を進めるうえで不可欠となる「リスク」と「リターン」の考え方についても理解する。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　株式投資におけるリスク、リターン、ポートフォリオとは、どのようなことを意味しているのかについて事前にインターネット等を用いて調べておく。<br />【事後学修】<br />　授業内容を復習したうえで、LMSにアップされる提出課題に取り組む。　　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        4
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【基礎学習（3）―投資理論の基礎―】〔対面〕<br />　株式投資を行うための基礎理論として、分散投資、ポートフォリオ、相関係数についてそれぞれ学ぶ。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　ポートフォリオという言葉の意味について各自で事前に調べておく。<br />【事後学修】<br />　授業内容を復習したうえで、LMSにアップされる提出課題に取り組む。　　　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        5
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【基礎学習（4）―回帰分析―】〔対面〕<br />　データを解釈するうえで必要になる単回帰分析と重回帰分析について基礎事項を学んだうえで、Excelを使って、実際に演習を行う。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　平均値・中央値・最頻値の意味について各自で調べておく。また、一次関数について復習しておく。<br />【事後学修】<br />　授業内容を復習したうえで、LMSにアップされる提出課題に取り組む。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        6
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【基礎学習（5）―投資と税金―】〔対面〕<br />　投資に関わり発生する各種の税金と、一般NISAやつみたてNISAなどに対する基礎的な知識を身に着ける。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　『はじめまして会計学』（1年次の「会計学概論」の教科書）の第10章を熟読しておく。<br />【事後学修】<br />　授業内容を復習したうえで、LMSにアップされる提出課題に取り組む。　　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        7
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【基礎学習（6）―ビジネスと数学―】〔対面〕<br />　金融リテラシーを学び、ビジネスパーソンとして社会で活躍するために最低限度必要な数学の知識について考える。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　小学校レベルの算数や中学校レベルの数学がどの程度理解できているかについて、自身の実力をあらかじめ把握しておく。<br />【事後学修】<br />　授業内容を復習したうえで、LMSにアップされる提出課題に取り組む。　　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        8
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          金融リテラシーミニ連携講座（第1回）〔対面予定〕<br />「金融リテラシーとは①」（金融広報中央委員会）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　国民年金保険料をなぜ納付しなければならないかについて、インターネット等を使って調べたうえで、自身の考えをまとめておく。<br />【事後学修】<br />　配布資料をもう一度よく復習したうえで、LMSからレポート課題を提出する。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        9
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          金融リテラシーミニ連携講座（第2回）〔対面予定〕<br />「金融リテラシーとは②」（金融広報中央委員会）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　「単利」と「複利」の違いについて、インターネットなどを活用して調べたうえで、もし預金をするならば単利と複利のどちらがよいかを考えておく。<br />【事後学修】<br />　配布資料をもう一度よく復習したうえで、LMSからレポート課題を提出する。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        10
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          金融リテラシーミニ連携講座（第3回）〔対面予定〕<br />「ライフプランを描く」（日本FP協会）　
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　自身のこれまでの人生を振り返ったうえで、これから先の人生のライフプランを大まかに描いておく。<br />【事後学修】<br />　配布資料をもう一度よく復習したうえで、LMSからレポート課題を提出する。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        11
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          金融リテラシーミニ連携講座（第4回）〔対面予定〕<br />「お金を借りる」（全国銀行協会）　　
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />住宅ローンの「変動金利」と「固定金利」についてインターネット等で調べる。そのうえで、現在の日本のような状況下で住宅ローンを組むとすれば、どちらの金利を選択した方が有利かについて考えておく。<br />【事後学修】<br />　配布資料をもう一度よく復習したうえで、LMSからレポート課題を提出する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        12
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          金融リテラシーミニ連携講座（第5回）〔対面予定〕<br />「リスクに備える」（生命保険文化センター）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　人生における「リスク」とは何かについてインターネット等で調べたうえで、これから先の人生で予想されるリスクにはどのようなものがあるかをイメージしておく。<br />【事後学修】<br />　配布資料をもう一度よく復習したうえで、LMSからレポート課題を提出する。　　　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        13
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          金融リテラシーミニ連携講座（第6回）〔対面予定〕<br />「お金を増やす」（日本証券業協会）　
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　手持ちの100万円を増やすためにはどのような方法があるかについて、あらかじめ5種類の方法を考えておく。<br />【事後学修】<br />　配布資料をもう一度よく復習したうえで、LMSからレポート課題を提出する。　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        14
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【金融リテラシーミニ連携講座の振り返り】〔対面〕<br />　第1回～第6回の講座内容を振り返り、ディスカッションやグループワークにより学びを深める。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　金融リテラシーミニ連携講座（第1回～第6回）の配布資料をもう一度読み返し、どのような内容を学んだかについて確認しておく。<br />【事後学修】<br />　グループディスカッションの内容をふまえて、LMSにアップされる提出課題に取り組む。　　　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        15
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【経営基礎3のまとめ】〔対面〕<br />　金融業界で長年ご活躍されてきたゲストスピーカーをお招きして、経営基礎3で学んだ内容全般をふまえた講義を聴講し、卒業後の進路（特に金融業界への就職）を考える機会とする。
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          【事前学修】<br />　7月27日当日の「日本経済新聞」に目を通しておく（図書館で閲覧できますので購入する必要はありません。またはインターネット上で公開されている電子版を閲覧するのも可）<br />【事後学修】<br />　グループディスカッションの内容をふまえて、最終レポート課題をまとめる。　　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        学期末試験
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 88%; text-align: left"
      >
        <div class="fr-box fr-view">実施しない</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        アクティブ・ラーニング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">
          この授業では、以下のアクティブ・ラーニングを実施する。<br />　・コンピュータ実習<br />　・グループディスカッション<br />　・問題演習
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        実務教員科目
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">
          第8回から第13回と、第15回の授業は実務経験のあるゲストスピーカーが担当する。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        成績評価基準
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          　成績評価を行う前提として、「履修の手引き」に示される「正当な理由による授業欠席の取り扱い」に該当しない欠席が5回以上に達した場合、成績評価は“X”（成績評価対象外）となる。「正当な理由による授業欠席の取り扱い」に該当しない欠席が4回以内の場合には、成績評価の対象となり、下記に示す成績評価基準に基づいて、100点満点で次のように成績評価を行う。<br />　90～100点：S<br />　80～89点：A<br />　70～79点：B<br />　60～69点：C<br />　59点以下：F
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        評価の方法・総合評価割合
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          　以下の(1)〜(3)の合計点（100点満点）に基づいて成績評価を行う。課題およびレポートで評価するので、期末試験は実施しない。<br />　(1)
          第1回～第7回と第14回授業で課す提出課題（6点×8回＝48点）<br />　(2)
          金融リテラシーミニ連携講座の各回ごとに課すミニレポート（7点×6回＝42点）<br />　(3)
          最終レポート（第15回）（10点）
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        テキスト等、学修のために購入・準備が必要なもの
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          　各回の授業で使用する教材はその都度配布する（紙媒体、またはLMSからPDFファイルとしてダウンロードのいずれか）。参考図書は必要に応じて紹介する。<br />　なお、ノートパソコンを授業内で利用する授業回があるため、各自準備すること。自分用のノートパソコンがない学生は、初回授業で担当教員に相談し、必要な指示を受けること。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        履修上の注意事項、事前・事後学修に必要な目安時間、フィードバックの方法、学修上の助言
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          【履修上の注意事項】<br />1．シラバス作成時点では15回すべて対面授業として実施する予定であるが、第8回から第13回は、都合により非対面授<br />
          業となる授業回が発生する可能性がある。非対面授業に変更する場合には、LMSのコースニュース等で告知する。<br />2．対面授業を欠席した場合には、当該授業回の課題について、提出することはできない。ただし、「正当な理由による<br />
          授業欠席の取り扱い」に該当する欠席事由の場合には、成績評価の際に配慮する。<br />3．授業の性格上、遅刻は厳禁とする。公共交通機関の遅延による遅刻の場合には、必ず遅延証明書を提出すること。<br />4．第2回から第7回までは、パソコンと電卓を使用するため、各自準備しておくこと。<br /><br />【事前・事後学修に必要な目安時間】<br />　授業内容を理解するためには、事前学修と事後学修が不可欠である。各回で示される事前学修と事後学修に着実に取り組むこと。なお、事前学修の目安は90分、事後学修の目安は150分である。<br /><br />【フィードバックの方法】<br />1．提出課題は、明確な正解がある場合には、次回授業時の冒頭に模範解答と解説を発表する。あるいは、あらかじめ<br />
          設定された提出締切日時以降にLMS上で模範解答と解説を発表する。なお、明確な正解がない場合には、ポイント<br />
          について授業内もしくはLMS上で解説する。<br />2．レポート課題の場合には、コメントを付けてLMS上でフィードバックする。<br /><br />【学修上の助言】<br />　授業内容等について質問等がある場合には、LMSの「個別指導コレクション」から質問を行うこと。
        </div>
      </div>
    </div>
  </body>
</html>
