<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Syllabus for MU</title>
    <link rel="stylesheet" href="/static/subj.css" />
  </head>

  <body>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講年度
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2023年度</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        最終更新日時
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">2023/09/09(土)</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目名
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">キャリア開発４</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        科目区分
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 38%; text-align: left"
      >
        <div class="fr-box fr-view">経営学科科目</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        授業形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">講義</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        単位数
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">2単位</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        配当学年
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">3年</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        開講学期
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">後期</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        時間割コード
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        <div class="fr-box fr-view">B17902</div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        担当教員
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 63%; text-align: left"
      >
        <div class="fr-box fr-view">
          長谷川　岳雄、谷口　ちさ、片岡　亜紀子、岡端　正志
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業時間外の連絡方法
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　明星LMS個別指導コレクション
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　研究室オフィスアワー
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　メールアドレス
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        　その他
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        授業実施形態
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 20%; text-align: left"
      ></div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 50%; text-align: left"
      >
        <div class="fr-box fr-view"></div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        キーワード
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          就職活動支援、ロジカル・コミュニケーション、エントリーシート対策、就活面接対策
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        授業科目の概要
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          　本授業では、納得のいく就職活動をしたい学生をサポートし、就職活動に役立つ実践的なスキルを特訓する。　具体的なテーマは、１）自分らしさの言語化（自己理解）、２）伝わるエントリーシートの書き方、３）伝わる面接の受け答え方、の３つである。この３つのテーマを通じて、本質的には「相手に伝わるメッセージの作り方と伝え方」を鍛える。これらの内容は就職活動のためだけではなく、社会に出てからも役立つはずである。<br />　授業ではエントリーシート作成と採用面接に関して、「講義」→「実践」→「振り返り」を繰り返す。最後は、授業の集大成として企業の採用活動に携わる面接官を招き「就活面接会オンライン」を実施する。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        本授業の到達目標
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          自分の考え・思いを、わかりやすく人に伝える基本的な型を身につける<br />・自分らしさ（強み・持ち味）を言語化することができる（DP5）<br />・自分らしさが相手に伝わるＥＳを書くことができる（DP4）<br />・面接での大切なポイントを理解し、相手にわかりやすく伝える受け答えを実践できる（DP9）
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 22%; text-align: left"
      >
        学位授与方針との関係　カリキュラムマップ
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          <a
            href="https://www.meisei-u.ac.jp/student/class02/c-map.html"
            target="_blank"
            >https://www.meisei-u.ac.jp/student/class02/c-map.html</a
          >
        </div>
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 13%; text-align: left"
      >
        ナンバリング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 17%; text-align: left"
      >
        <div class="fr-box fr-view">B1B3037</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 52%; text-align: left"
      >
        授業計画
      </div>
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        事前事後学修内容
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        1
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          オリエンテーション＆24卒就活の現状と25卒就活のポイント　<br />非対面（LMS）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事後学修：投影資料及び就活サイトを確認し、就活のスケジュールおよび内容を整理しておくこと
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        2
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          伝わるESを書く技術①ー概要編－<br />非対面（LMS）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活支援サイト＠勉天の該当箇所の予習<br />事後学修：ＥＳを書く際のポイントの復習
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        3
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">自己分析をもう一度　<br />対面</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：キャリア開発１･２の該当箇所の準備<br />事後学修：課題①自己分析の作成・提出
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        4
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          伝わるESを書く技術②ー演習編－<br />対面
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：課題①自己分析のブラッシュアップ<br />事後学修：課題②ESver.1の作成＆提出　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        5
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          伝わる面接の技術①ー面接実践の準備編－　<br />対面
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活支援サイト＠勉天の該当箇所の予習<br />事後学修：課題③添削用ESの作成＆提出
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        6
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          面接の実践－対面編－<br />対面（スーツ着用）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：「面接の実践」の準備<br />事後学修：面接官からのフィードバックの整理
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        7
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          伝わる面接の技術②ー概要編－　<br />非対面（LMS）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活支援サイト＠勉天の該当箇所の予習<br />事後学修：オンライン模擬面接の準備
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        8
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          面接の実践ーオンライン編－<br />非対面（リアルタイムZoom)（スーツ着用）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：オンライン面接の準備<br />事後学修：面接官からのフィードバックの整理
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        9
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">履歴書の書き方　<br />対面</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活支援サイト＠勉天の該当箇所の予習<br />事後学修：明星大書式履歴書の作成
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        10
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">面接実践の振り返り　<br />対面</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：面接実践後のフィードバックの整理<br />事後学修：面接のポイントの整理　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        11
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          面接のマナー（入退室のマナーなど）<br />非対面（LMS）
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活支援サイト＠勉天の該当箇所の予習<br />事後学修：就活面接会用履歴書・自己紹介書の作成＆提出
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        12
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          就活面接会オンラインに向けて　<br />対面
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活支援サイト＠勉天の該当箇所の予習<br />事後学修：就活面接会オンラインの準備
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        13
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          就活面接会オンライン（13・14回合同）<br />非対面（Zoom)
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活面接会オンラインの準備<br />事後学修：就活面接会でのフィードバックの整理
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        14
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          就活面接会オンライン（13・14回合同）　<br />非対面（Zoom)
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活面接会オンラインの準備<br />事後学修：就活面接会でのフィードバックの整理
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 4%; text-align: left"
      >
        15
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          授業全体の振り返りと25卒就活に向けて　<br />対面
        </div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 48%; text-align: left"
      >
        <div class="fr-box fr-view">
          事前学修：就活面接会の振り返りシートの作成<br />事後学修：就活に向けての実践シートの提出
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 12%; text-align: left"
      >
        学期末試験
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 88%; text-align: left"
      >
        <div class="fr-box fr-view">実施しない</div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        アクティブ・ラーニング
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">
          ・授業の集大成として、企業の採用面接官を招き「就活面接会オンライン」を実施する<br />・授業内でも模擬面接官を招き、対面・オンラインでそれぞれ１回ずつ面接の実践を行う<br />・エントリーシートを提出してもらい、添削をおこなう
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 30%; text-align: left"
      >
        実務教員科目
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 3%; text-align: left"
      >
        <div class="fr-box fr-view">〇</div>
      </div>
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 67%; text-align: left"
      >
        <div class="fr-box fr-view">
          金融業界で20年間、営業部門と人事部門(新卒採用・研修・人事企画)で勤務した実務経験を活かし、社会に出た後の仕事や就職活動に実際に使えるコミュニケーション･スキルの習得を目指す。　　
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        成績評価基準
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          本授業の３つの到達目標に対応して、自分の言葉で具体的にＥＳを書いているか、面接で受け答えをしているかを評価基準とする。自分らしさの何を伝えたいのか？そして、それらを自分の言葉でどう伝えるのか、を実践し学んでいただきたい。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        評価の方法・総合評価割合
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          ・授業への参画（リフレクションの提出・内容、授業中の態度・発言）
          約45%<br />・課題の提出（ES等の提出とその内容） 　
          &nbsp;　　　　　　　　　　　　 約40%<br />・就活面接会オンラインへの参画（出席と面接内容）　　　　　　　　
          約15%
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        テキスト等、学修のために購入・準備が必要なもの
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          教科書・テキストは指定しない。参考図書は授業で取り上げるテーマに関連して、適宜紹介する。興味を持ったら<br />ぜひ読んでもらいたい。
        </div>
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-header colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        履修上の注意事項、事前・事後学修に必要な目安時間、フィードバックの方法、学修上の助言
      </div>
    </div>
    <div class="rowStyle rowMargin" style="width: 100%; height: 26px">
      <div
        class="ui-widget-content colStyle colBorder"
        style="width: 100%; text-align: left"
      >
        <div class="fr-box fr-view">
          【履修上の注意事項】<br />・授業日程を一部変更し、12/16(土)10:00~12:30、もしくは、14:00~16:30に企業の採用活動に携わっている面接官をお招きし、「就活面接会オンライン」を実施する。この参加は単位取得の必須とする<br />・スーツ着用の日程は、社会人としての身だしなみを整えて参加すること<br />・秋冬の「インターンシップ」に積極的に必ず参加すること<br />・本科目は複数の教員で運営するので、授業に関する指示は担当クラス教員の指示に従うこと<br />・キャリアセンターが主催する就活関連セミナーやガイダンスには積極的に参加すること<br /><br />【フィードバックの方法】<br />・LMSへの課題及びフィードバックシートの提出には、LMSコメント欄で個別にフィードバックを行う<br />・提出した添削用エントリーシートには、個別に添削をして返却する<br />・就活面接会オンラインに関しては、全体講評を行いフィードバックを行う<br /><br />【事前・事後学修に必要な目安時間】<br />・毎授業回につき、事前学修120分、事後学修120分を目安とする<br /><br />【学修上の助言】<br />・質問等があれば、遠慮なく各担当教員及び長谷川までメールをください　　
        </div>
      </div>
    </div>
  </body>
</html>
